.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.pa2 {
  padding: 20px;
}

.card {
  padding: 20px;
  margin: 10px;
  width: 200px;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 10px #efefef;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 30px #ababab;
  background: #1cd8d2;
}

.card h2 {
  font-weight: 400;
  font-size: 18px;
}

.card p {
  font-weight: 100;
  font-size: 14px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  border-bottom: 1px solid #efefef;
  margin: 0 0 30px 0;
}

header h1 {
  font-weight: 100;
  margin-top: 30px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #efefef;
  width: 200px;
}

.loadingBar {
  color: #ababab;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
